page-instagram {

}
#ion-card{
    padding:0px;
    margin:0px 0px 0px 0px;
    width: 100%;
}

#img-wrapper {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    margin: 1px;
    height: 100px;
    width: 100%;
    border-radius: 3%;
    display: block;
    }