page-list { 
         #ion-card{
             padding:0px;
             margin:0px 0px 0px 0px;
             width: 100%;
         }
     }
     
     .spacer{
         flex: 1 1 auto;
     }
     
     #img-wrapper {
       position: relative;
       padding-bottom: 100%;
       overflow: hidden;
       margin: 1px;
       height: 100px;
       width: 100%;
       border-radius: 3%;
       display: block;
       }
     
     #img-wrap {
         position: relative;
         overflow: hidden;
         border: 1.5px;
         border-color: white;
         height: auto;
         width: 100%;
         display: block;
       }
     
     #image{
         width: 100%;
     }
     
     #desc{
         font-size: 11pt;
         padding:1px;
     }
     
     #head{
         border-top-left-radius: 10%;
         border-top-right-radius: 10%;
         overflow: hidden;
         text-overflow: ellipsis;
         position: relative;
         bottom: 0px;
         width: 100%;
         padding: 0px 0px 1px 0px;
         // border-top: 0.8px solid grey;
         // border-right: 0.8px solid grey;
         // border-left: 0.8px solid grey;
     }
     
     #notification-button {            
         position: relative;
         width: 42px;
         top:1px;
         right: 1px;
         overflow: visible!important;            
     }
     
     #notifications-banner {
         background-color: map-get($colors, dark);
         color: white;
         position: absolute;
         bottom: 0px;
         left: -2px;
         font-size: 9px;
         overflow: hidden;
         border: 0.8px;
         border-color: white;
     }
     
     #notifications-badge {
         background-color:map-get($colors, hot);
         color:#fff;
         font-size: 8pt;
         position: absolute;
         top: -1px;
         right: -1px;
         // border: 1px solid map-get($colors, hot);
         border-radius: 100%;
     }
     
     #details{
         font-size: 10pt;
         text-overflow: ellipsis;
         overflow: hidden;
         position: relative;
         margin-top:0px;
         color: black;
         padding: 1px;
         overflow-wrap: break-word;
         word-wrap: break-word;
     }
     
     @media (min-width: 768px) {
         #cards{
             column-count: 3;
             margin:0% 0%;
             padding:0%;
             width: 100%;
         }
       }
     
       @media (min-width: 1440px) {
         #cards{
             column-count: 4;
             margin:0% 0%;
             padding:0%;
             width:100%;
         }
       }
     
       @media (min-width: 2559px) {
         #cards{
             column-count: 5;
             margin:0% 0%;
             padding:0%;
             width:100%;
         }
       }
     
       @media (max-width: 767px) {
         #cards{
             column-count: 2;
             margin:0px 0px 0px 0px;
             padding:0px;
             width:100%
         }
       }
     
     
     #edgeless{
         margin:0% 0%;
         padding:0%;
     }
     
     #gallery-thumb{
         position: relative;
         overflow: hidden;
         margin: 0.8px;
         height: 150px;
         width: 100%;
         border-radius: 0%;
         display: block;
     }
     
     #avatar{
         position: absolute;
         border-radius: 50%;
         overflow: hidden;
         display: block;
         left: 0px;
         margin: 8px;
         padding: 2px;
     }
     
     #card{
         width: 100%;    
         margin:0% 0%;
         padding:0%;
          box-shadow: -2px 8px 8px -8px rgba(0,0,0,0.7);
     }
     
     #card-image{
         position: relative;
         height: auto;
         width: 100%; 
         margin:0% 0%;
         padding:0%;
     }
     
     #img {
       position: relative;
       overflow: hidden;
       height: 150px;
       width: 100%;
       display: block;
     }