<ion-header style="margin-bottom: 2px;">
  <ion-navbar color="light">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="dark"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button clear icon-only click=checkout()>
        <ion-icon name="basket" color="dark"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar name="filter" [(ngModel)]="filter" placeholder="Search titles, authors, etc"></ion-searchbar>
  </ion-navbar>
  <ion-toolbar color="light">
    <ion-segment [(ngModel)]="category" color="dark">
      <ion-segment-button value="all" click="filterByCategory('all')">
        All
      </ion-segment-button>
      <ion-segment-button value="free" click="filterByCategory('free')">
        Free
      </ion-segment-button>
      <ion-segment-button value="paid" click="filterByCategory('paid')">
        Paid
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="cards">
    <ion-grid>
      <ion-row wrap *ngFor="let book of books | filterby:filter">
        <ion-col col-width-50>
          <div id="card">
            <div id="card-image">
              <div id="img">
                <img src="assets/imgs/{{book.name}}" tappable (tap)="openDocument()"/>
              </div>
            </div>
            <div id="details">
              <ion-item no-lines>
                <small>{{book.title}}</small>
                <br />
                <ion-badge style="margin-left:3px;" color="dark">
                  <small>{{book.price | currency:'KES':2}}</small>
                </ion-badge>
                <ion-badge style="margin-left:3px;" color="secondary" *ngIf="!book.for_sale">
                  <small>Free</small>
                </ion-badge>
                <button item-right ion-button icon-only clear *ngIf="book.for_sale">
                  <ion-icon name="basket" color="secondary"></ion-icon>
                </button>
              </ion-item>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>