page-post-detail {

}

#card{
    width: 100%;    
    margin:0% 0%;
    padding:0%;
     box-shadow: -2px 8px 8px -8px rgba(0,0,0,0.7);
}

#borderless-card{
    width: 100%;    
    margin:0% 0%;
    padding:0%;
}

.card-image{
    position: relative;
    height: auto;
    width: 100%; 
    margin:0% 0%;
    padding:0%;
    overflow: hidden;
    display: block;
}

.img-wrapper {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    margin: 1px;
    height: 100px;
    width: 100%;
    border-radius: 3%;
    display: block;
    }

@media (min-width: 768px) {
    #cards{
        column-count: 3;
        margin:0% 0%;
        padding:0%;
        width: 100%;
    }
  }

  @media (min-width: 1440px) {
    #cards{
        column-count: 4;
        margin:0% 0%;
        padding:0%;
        width:100%;
    }
  }

  @media (min-width: 2559px) {
    #cards{
        column-count: 5;
        margin:0% 0%;
        padding:0%;
        width:100%;
    }
  }

  @media (max-width: 767px) {
    #cards{
        column-count: 2;
        margin:0px 0px 0px 0px;
        padding:0px;
        width:100%
    }
  }